[data-theme="dark"] {
  --color-text: theme("colors.gray.50");
  --color-text-offset: theme("colors.gray.400");
  --color-brand: "#191234";
  --color-background: "#191234";
  --color-background-offset: theme("colors.gray.800");
  --color-border: theme("colors.gray.50" / 10%);
}
